<template>
    <div>
        <sw-card title="Produkt Import">
            <sw-button variant="primary" @click="importProducts">Produkte importieren</sw-button>
            <sw-button variant="danger" @click="deleteImportedProducts">Importierte Produkte löschen</sw-button>
        </sw-card>
    </div>
</template>

